<!doctype html>
{% load static %}
<html class="no-js" lang="en" dir="ltr">

<head>

  <!--- basic page needs
  ================================================== -->
  <meta charset="UTF-8">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Long Nguyen">
  <meta name="description" content="SmileAI WebSite">

  <title>{% block title %}{% endblock %}</title>
  <!-- CSS
   ================================================== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/vendor.css" %}">
  <link rel="stylesheet" href="{% static "css/brain.css" %}">
  <link rel="stylesheet" href="{% static "css/signup.css" %}">
  <link rel="stylesheet" href="{% static "css/face.css" %}">

  <!-- End CSS -->

  <!-- favicons
 ================================================== -->
 <link rel="icon" type="image/png" href="favicon.png">

</head>
<body id="top">

  {% block content %}{% endblock %}
  <div id="preloader">
     <div id="loader"></div>
  </div>
  <!-- footer
  ================================================== -->
  <footer>
   <div class="footer-main">
         <div class="col-twelve tab-full mob-full footer-info ">
            <div class="footer-logo"></div>
           <h4>Special thanks to</h4>
           <p>Advance Web Development Professor <a href="https://www.bryancdixon.com/contact"> Bryan Dixon </a><br>
              AI Professor <a href="https://www.csuchico.edu/csci/faculty-staff/harris-elena.shtml"> Elena Harris </a><br>
              Website Design <a href="http://www.Styleshout.com"> Styleshout</a>, <a href="http://www.codepen.io">  Codepen </a> and <a href="http://www.creative-tim.com"> Creative Tim

            </p>
         </div> <!-- /special thanks -->

       </div> <!-- /row -->
   </div> <!-- /footer-main -->
     <div class="footer-bottom">
       <div class="row">
         <div class="col-twelve">

            <div id="go-top" style="display: block;">
               <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
            </div>
         </div>
       </div> <!-- /footer-bottom -->
     </div>
  </footer>

  <!-- Java Script
  ================================================== -->
  <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
  <script src="{% static "js/modernizr.js" %}"></script>
  <script src="{% static "js/plugins.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "js/signup.js" %}"></script>
  <script src="{% static "js/face.js" %}"></script>
  <script type="text/javascript" src="{% static "js/disable_copy.js" %}" ></script>
  <!-- End JS -->
  {% block scripts %}{% endblock %}
</body>
</html>
