<!doctype html>
{% load static %}
<html class="no-js" lang="en" dir="ltr">

<head>

  <!--- basic page needs
  ================================================== -->
  <meta charset="UTF-8">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Long Nguyen">
  <meta name="description" content="SmileAI WebSite">

  <title>{% block title %}{% endblock %}</title>
  <!-- CSS
   ================================================== -->
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/vendor.css" %}">
  <link rel="stylesheet" href="{% static "css/brain.css" %}">
  <link rel="stylesheet" href="{% static "css/signup.css" %}">

  <!-- End CSS -->

  <!-- favicons
 ================================================== -->
 <link rel="icon" type="image/png" href="favicon.png">

</head>
<body id="top">

  {% block content %}{% endblock %}

  <!-- Java Script
  ================================================== -->
  <script src="{% static "js/static\js\jquery-migrate-1.2.1.min.js" %}"></script>
  <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
  <script src="{% static "js/modernizr.js" %}"></script>
  <script src="{% static "js/plugins.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/signup.js" %}"></script>
  <!-- End JS -->


  <div id="preloader">
     <div id="loader"></div>
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>
