<!doctype html>
{% load static %}
<html class="no-js" lang="en" dir="ltr">

<head>

  <!--- basic page needs
  ================================================== -->
  <meta charset="UTF-8">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Long Nguyen">
  <meta name="description" content="SmileAI WebSite">

  <title>{% block title %}{% endblock %}</title>
  <!-- CSS
   ================================================== -->
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/vendor.css" %}">
  <link rel="stylesheet" href="{% static "css/brain.css" %}">
  <link rel="stylesheet" href="{% static "css/signup.css" %}">
  <link rel="stylesheet" href="{% static "css/face.css" %}">

  <!-- End CSS -->

  <!-- favicons
 ================================================== -->
 <link rel="icon" type="image/png" href="favicon.png">

</head>
<body id="top">

  {% block content %}{% endblock %}
  <div id="preloader">
     <div id="loader"></div>
  </div>
  <!-- footer
  ================================================== -->
  <footer>
   <div class="footer-main">
     <div class="row">
         <div class="col-four tab-full mob-full footer-info">
             <div class="footer-logo"></div>
             <p>
             My house lmao<br>
             XD<br>
             placeholder@placeholder.com &nbsp; +123-456-789
             </p>
         </div> <!-- /footer-info -->
         <div class="col-two tab-1-3 mob-1-2 site-links">
           <h4>Site Links</h4>
         <ul>
           <li><a href="#">About Us</a></li>
           <li><a href="#">Blog</a></li>
           <li><a href="#">FAQ</a></li>
           <li><a href="#">Terms</a></li>
           <li><a href="#">Privacy Policy</a></li>
         </ul>
         </div> <!-- /site-links -->
         <div class="col-two tab-1-3 mob-1-2 social-links">
           <h4>Social</h4>
         <ul>
           <li><a href="#">Twitter</a></li>
           <li><a href="#">Facebook</a></li>
           <li><a href="#">Discord Channel</a></li>
         </ul>
         </div> <!-- /social -->

         <div class="col-four tab-full mob-full footer-info">
           <h4>Special thanks to</h4>
           <p>Professor <a href="https://www.bryancdixon.com/contact"> Bryan Dixon </a><br>
              Professor <a href="https://www.csuchico.edu/csci/faculty-staff/harris-elena.shtml"> Elena Harris </a><br>
              Website Credit <a href="http://www.Styleshout.com"> Styleshout</a> and <a href="http://www.codepen.io">  Codepen </a>

            </p>
         </div> <!-- /special thanks -->

       </div> <!-- /row -->
   </div> <!-- /footer-main -->
     <div class="footer-bottom">
       <div class="row">
         <div class="col-twelve">
           <div class="copyright">
             <span>© Copyright 2017.</span>
             <span>Design by <a href="">Long Nguyen</a></span>
            </div>
            <div id="go-top" style="display: block;">
               <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
            </div>
         </div>
       </div> <!-- /footer-bottom -->
     </div>
  </footer>

  <!-- Java Script
  ================================================== -->
  <script src="{% static "js/static\js\jquery-migrate-1.2.1.min.js" %}"></script>
  <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
  <script src="{% static "js/modernizr.js" %}"></script>
  <script src="{% static "js/plugins.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script src="{% static "js/signup.js" %}"></script>
  <script src="{% static "js/face.js" %}"></script>
  <script type="text/javascript" src="{% static "js/disable_copy.js" %}" ></script>
  <!-- End JS -->
  {% block scripts %}{% endblock %}
</body>
</html>
