{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<header>
  <div class="row">
    <div class="logo">
      <a href="../">SmileAI</a>
    </div>
    <nav id="main-nav-wrap">
      <ul class="main-navigation">
        <li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
        <li><a class="smoothscroll"  href="#process" title="">About</a></li>
        <li><a class="smoothscroll"  href="#features" title="">Features</a></li>
        <li><a class="smoothscroll"  href="#faq" title="">FAQ</a></li>
        {% if user.is_authenticated %}
          <li class="highlight with-sep"><a>Hi {{ user.get_username }}</a></li>
          <li class="highlight with-sep"><a href="dashboard" title=""><i class="icon-file"></i>Dashboard</a></li>
          <li class="highlight with-sep"><a href="logout" title="">Logout</a></li>
        {% else %}
        <li class="highlight with-sep"><a href="signup" title="">Sign Up</a></li>
        <li class="highlight with-sep"><a href="login" title="">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
    <a class="menu-toggle" href="#"><span>Menu</span></a>
  </div>
</header> <!-- /header -->
<section id="intro">
  <div class="shadow-overlay"></div>
  <div class="intro-content">
    <div class="row">
      <div class="col-twelve">
        <h1>Learn to trade stocks, without risk.</h1>
        <a class="button stroke smoothscroll" href="#process" title="">Learn More</a> <a class="button stroke smoothscroll" href="/signup" title="">Sign Up</a>
      </div>
    </div>
  </div>
</section> <!-- /intro -->
<section id="process">
  <div class="col span1of2 middle brain-container">
    <div class="brain-hightlights">
      <img alt="01-brain-glow" class="brain-hightlight" src="{% static "images/brain/01-brain_glow-52fcb0e4.png"%}">
      <img alt="02-brain-glow" class="brain-hightlight" src="{% static "images/brain/02-brain_glow-1b301710.png"%}">
      <img alt="03-brain-glow" class="brain-hightlight" src="{% static "images/brain/03-brain_glow-f9d921f1.png"%}">
      <img alt="04-brain-glow" class="brain-hightlight" src="{% static "images/brain/04-brain_glow-e6c7f1d3.png"%}">
      <img alt="05-brain-glow" class="brain-hightlight" src="{% static "images/brain/05-brain_glow-a759f33e.png"%}">
    </div></div>     <!-- brain  -->
    <div class="row section-intro-brain">
      <h5>About</h5>
      <h1>SmileAi</h1>
      <p class="lead">
        SmileAI is a combonation project for Advanced Web Development and Artificial Intellegence by Sam Burba and Long Nguyen.
      </p>
      <p class="lead">
        SmileAI's goal is to create a friendly enviroment users can trade virtual stocks on a simulated market. The goal is to
        encourage users to interact with each other to trade tips and knowledge on the stock market. And if users get stuck and
        can't make a decision on a good stock to buy, our AI advisor will help out.
      </p>
    </div>
  </section> <!-- /process-->
  <section id="features">
    <div class="row section-intro">
      <div class="col-twelve with-bottom-line">
        <h5>Features</h5>
        <h1> SmileAI's Features </h1>
      </div>
    </div>
    <div class="row features-content">
      <div class="features-list block-1-3 block-s-1-2 block-tab-full group">
        <div class="bgrid feature">
          <div class="service-content">
            <h3 class="h05">Artificially Intellegent Advisor</h3>
            <p>We are developing and updating our advisor to give the best advice on when to buy or sell stock</p>
          </div>
        </div> <!-- /bgrid -->
        <div class="bgrid feature">
          <div class="service-content">
            <h3 class="h05">Stylish Design</h3>
            <p>Even through the focus is on the stock market, we wanted to have a user friendly enviorment. Thanks to our head
            designer Long, we aren't sacrificing form for function</p>
          </div>
        </div> <!-- /bgrid -->
        <div class="bgrid feature">
          <div class="service-content">
            <h3 class="h05">User Communication</h3>
            <p> We wanted to encourage users to communicate with one another. That
            is why we are improving our site to make commenting about stocks as
          easy as possible. </p>
            </div>
          </div> <!-- /bgrid -->
          <div class="bgrid feature">
            <div class="service-content">
              <h3 class="h05">Leaderboard</h3>
              <p> While our website is aimed at learning, we added a leaderboard
              to encourage smart trading (and for bragging rights). </p>
              </div>
            </div> <!-- /bgrid -->
            <div class="bgrid feature">
              <div class="service-content">
                <h3 class="h05">Free</h3>
                <p> Yes, it is free for everyone.</p>
              </div>
            </div> <!-- /bgrid -->
          </div> <!-- features-list -->
        </div> <!-- features-content -->
      </section> <!-- /features -->
      <section id="faq">
        <div class="row section-intro">
          <div class="col-twelve with-bottom-line">
            <h5>Faq</h5>
            <h1>Questions and Answers.</h1>
          </div>
        </div>
        <div class="row faq-content">
          <div class="q-and-a block-1-2 block-tab-full group">
            <div class="bgrid">
              <h3>Is this real money?</h3>
              <p>No. When you create an account, you are given $1000 virtual dollars
              to use to buy simulated stocks.</p>
            </div>
            <div class="bgrid">
              <h3>Can I "cash out" for real money?</h3>
              <p>No.</p>
            </div>
            <div class="bgrid">
              <h3>Do I actually own stock I invest in?</h3>
              <p>Not on this site.</p>
            </div>
            <div class="bgrid">
              <h3>How does the AI advisor work?</h3>
              <p>We use an algorithm to look at a stocks performance for the previous week.
              Judging by the analysis ran by the AI, it decides if it is a good time to buy or sell
            the stock.</p>
            </div>
            <div class="bgrid">
   				<h3>Is the AI advisor alway accurate?</h3>
              <p>No.</p>
            </div>
            <div class="bgrid">
              <h3>Is the AI advisor ever accurate?</h3>
   				<p>Yes.</p>
          <div class="bgrid">
            <h3>Are you updating the AI to be more accurate?</h3>
        <p>Yes. The AI is always in constant development.</p>
            </div>


          </div> <!-- /q-and-a -->
        </div> <!-- /faq-content -->
      </section> <!-- /faq -->
{% endblock %}
