{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<!-- header
================================================== -->
<header>

  <div class="row">

    <div class="logo">
      <a href="../">SmileAI</a>
    </div>

    <nav id="main-nav-wrap">
      <ul class="main-navigation">
        <li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
        <li><a class="smoothscroll"  href="#process" title="">About</a></li>
        <li><a class="smoothscroll"  href="#features" title="">Features</a></li>
        <li><a class="smoothscroll"  href="#faq" title="">FAQ</a></li>
        {% if user.is_authenticated %}
        Hi {{ user.name }}
        {% else %}
        <li class="highlight with-sep"><a href="signup" title="">Sign Up</a></li>
        <li class="highlight with-sep"><a href="login" title="">Log In</a></li>
        {% endif %}
      </ul>
    </nav>

    <a class="menu-toggle" href="#"><span>Menu</span></a>

  </div>

</header> <!-- /header -->

<!-- intro section
================================================== -->

<section id="intro">
  <div class="shadow-overlay"></div>
  <div class="intro-content">
    <div class="row">

      <div class="col-twelve">

        <!-- <div class='video-link'>
          <a href="#video-popup"><img src="{% static "images/play-button.png" %}" alt=""></a>
        </div> -->


        <h5>Hello welcome to AI Stock Bot.</h5>
        <h1>Our awesome app will make your life a lot easier.</h1>

        <a class="button stroke smoothscroll" href="#process" title="">Learn More</a>

      </div>

    </div>
  </div>

  <!-- Modal Popup
  ========================================================= -->

  <!-- <div id="video-popup" class="popup-modal mfp-hide">

    <div class="fluid-video-wrapper">
      <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=faec09" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <a class="close-popup">Close</a>

  </div>  --> <!-- /video-popup --> -->

</section> <!-- /intro -->



<!-- About Section
================================================== -->
<section id="process">

  <!-- Brain
  ================================================== -->
  <div class="col span1of2 middle brain-container">
    <div class="brain-hightlights">
      <img alt="01-brain-glow" class="brain-hightlight" src="{% static "images/brain/01-brain_glow-52fcb0e4.png"%}">
      <img alt="02-brain-glow" class="brain-hightlight" src="{% static "images/brain/02-brain_glow-1b301710.png"%}">
      <img alt="03-brain-glow" class="brain-hightlight" src="{% static "images/brain/03-brain_glow-f9d921f1.png"%}">
      <img alt="04-brain-glow" class="brain-hightlight" src="{% static "images/brain/04-brain_glow-e6c7f1d3.png"%}">
      <img alt="05-brain-glow" class="brain-hightlight" src="{% static "images/brain/05-brain_glow-a759f33e.png"%}">
    </div></div>     <!-- brain  -->

    <div class="row section-intro-brain">

      <h5>About</h5>
      <h1>SmileAi</h1>
      <p class="lead">
        SmileAi is a research group project for CSCI 580 teach by professor Elena, discovering and enacting the path to buy and sell stock effectively.
      </p>
      <p class="lead">
        SmileAi Website temp to create a friendly enviroment where all players can trade and compete about playing stock with the AI to see who come up the top.
      </p>
    </div>
  </section> <!-- /process-->

  <!-- features Section
  ================================================== -->
  <section id="features">

    <div class="row section-intro">
      <div class="col-twelve with-bottom-line">

        <h5>Features</h5>
        <h1>Trading stock SmileAi</h1>

        <p class="lead">There are a lot of features in SmileAi</p>

      </div>
    </div>

    <div class="row features-content">

      <div class="features-list block-1-3 block-s-1-2 block-tab-full group">

        <div class="bgrid feature">

          <span class="icon"><i class="icon-window"></i></span>

          <div class="service-content">

            <h3 class="h05">Frequency Update</h3>

            <p>Our team try our best to bring and update a new way of learning for the AI to ensure it will never lose.
            </p>

          </div>

        </div> <!-- /bgrid -->

        <div class="bgrid feature">

          <span class="icon"><i class="icon-eye"></i></span>

          <div class="service-content">
            <h3 class="h05">For the User</h3>

            <li>Ready to use. </li>
            <li>Weekly Leaderboard</li>
            <li>Hall of Frame</li>


          </div>

        </div> <!-- /bgrid -->

        <div class="bgrid feature">

          <span class="icon"><i class="icon-paint-brush"></i></span>

          <div class="service-content">
            <h3 class="h05">Stylish Design</h3>
            <p>Even through it is just an AI. But with an awesome design skill from 1 of our team member. We make sure that your experience on our website will always satisfied  </p>
          </div>

        </div> <!-- /bgrid -->

        <div class="bgrid feature">

          <span class="icon"><i class="icon-file"></i></span>

          <div class="service-content">
            <h3 class="h05">Clean Code</h3>

            <p> While the website is writen in Django,
              and our AI is writen in Python langauge.
              Our mission aim to bring the runtime of the website to instance. </p>
            </div>

          </div> <!-- /bgrid -->

          <div class="bgrid feature">

            <span class="icon"><i class="icon-layers"></i></span>

            <div class="service-content">
              <h3 class="h05">Multiple Layering</h3>
              <p> There is more than just one program running background.
                With a new design we are creating multiple layers, sparing it out around all cores to reduce runtime. </p>
              </div>

            </div> <!-- /bgrid -->

            <div class="bgrid feature">

              <span class="icon"><i class="icon-gift"></i></span>

              <div class="service-content">
                <h3 class="h05">Free</h3>
                <p> Yes it is free for everyone.</p>
              </div>

            </div> <!-- /bgrid -->

          </div> <!-- features-list -->

        </div> <!-- features-content -->

      </section> <!-- /features -->

      <!-- faq
      ================================================== -->
      <section id="faq">

        <div class="row section-intro">
          <div class="col-twelve with-bottom-line">

            <h5>Faq</h5>
            <h1>Questions and Answers.</h1>

            <p class="lead"> Frequency ask questions </p>

          </div>
        </div>

        <div class="row faq-content">

          <div class="q-and-a block-1-2 block-tab-full group">

            <div class="bgrid">


              <h3>What race are you?</h3>

              <p>I am Asian Dont you see?.</p>

            </div>

            <div class="bgrid">

              <h3>I mean where are you come from?</h3>

   				<h3>Where are you come from?</h3>


              <p>I am from Vietnam.</p>

            </div>

            <div class="bgrid">

              <h3>Do you know how to make Pho?</h3>


            <p>Yes I do can we stop this section already???.</p>
   				<p>Yes I do. Can we stop this Q&amp;A already???</p>
            </div>
            <div class="bgrid">
              <h3>One more question please?</h3>
              <p>Alright only one more.</p>
            </div>

            <div class="bgrid">

              <h3>Do you know how to make Ramen?</h3>

              <p>God damn it Ramen is Japanese food.</p>

            </div>


          </div> <!-- /q-and-a -->

        </div> <!-- /faq-content -->

      </section> <!-- /faq -->

      <!-- cta
      ================================================== -->
      <section id="cta">

        <div class="row cta-content">

          <div class="col-twelve">

            <h1 class="h01">Get started now.</h1>
            <p class="lead">Be a part of great stock trading AI </p>
            <div class="face-block">
              <div class="eyes-wrapper">
                <div class="eye">
                  <div class="pupil"></div>
                </div>
                <div class="eye">
                  <div class="pupil"></div>
                </div>
              </div>
              <div class="mouth-wrapper">
                <div class="mouth"></div>
              </div>
            </div>
            <a class="button large round " href="signup">Sign Up Now!</a>

          </div> <!-- /cta-content -->


        </section> <!-- /cta -->




   	  </div> <!-- /cta-content -->



{% endblock %}
