{% extends "UI/baseUI.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="content">
  <div class="container-fluid">
    <form action="/advisor/" method="post">
      {% csrf_token %}
      <input type="text" value="Ticker" name="Ticker">
      <input type="submit" class="btn btn-lrg" value="Get Advice" name="Go"/>
      {% if error %}
          <!-- <h4>There was an error with the advisor. Please try again. </h4> -->
      {% else %}
          <h3> {{stock}}  </h3>
        <h4> The AI advisor suggests that you should {{prediction}}. </h4>
      {% endif %}
    </form>
  </div>
</div>


{% endblock %}
