<!doctype html>
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link rel="stylesheet" href="{% static "css/UI/bootstrap.min.css" %}">
    <!--  Material Dashboard CSS    -->
    <link rel="stylesheet" href="{% static "css/UI/material-dashboard.css" %}">
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
  <div class="sidebar" data-color="deepgreen" data-image="{% static "images/UI/sidebar-1.jpg" %}">
  <div class="logo"> <p> &nbsp; </p></div>
  <div class="logo">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="{% static "images/UI/faces/default.jpg" %}" />
        </a>
      </div>
      <h6 class="category text-gray">Welcome</h6>
      <h4 class="card-title">{{ user.get_username }}</h4>
      <h4 class="card-title">${{ user.profile.purse }} </h4>
      <h5 class="card-title"><a href="/logout">Logout</a></h5>
    </div>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="{% url 'dashboard'%}">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="{% url 'profile'%}">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li>
        <a href="{% url 'portfolio' %}">
          <i class="material-icons">content_paste</i>
          <p>My Portfolio</p>
        </a>
      </li>
      <li>
        <a href="{% url 'leaderboard' %}">
          <i class="material-icons">library_books</i>
          <p>Leaderboard</p>
        </a>
      </li>
    </ul>
    </div>
  </div>


<div class="main-panel">
  <div class="content">

  {% block content %}{% endblock %}


</div>



<!--   Core JS Files   -->
<script src="{% static "js/UI/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "js/UI/bootstrap.min.js" %}"></script>
<script src="{% static "js/UI/material.min.js" %}"></script>
<!--  Charts Plugin -->
<script src="{% static "js/UI/chartist.min.js" %}"></script>
<!--  Dynamic Elements plugin -->
<script src="{% static "js/UI/arrive.min.js" %}"></script>
<!--  PerfectScrollbar Library -->
<script src="{% static "js/UI/perfect-scrollbar.jquery.min.js" %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static "js/UI/bootstrap-notify.js" %}"></script>

<!-- Material Dashboard javascript methods -->
<script src="{% static "js/UI/material-dashboard.js" %}"></script>
</div>
</body>
