{% extends "UI/baseUI.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


  <div class="content">
    <div class="container-fluid">
      <div class="row">
        {% for s in user_stocks %}
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
              <i class="material-icons">content_copy</i>
            </div>
            <div class="card-content">
              <h3 class="title">
                {{s.get_name}} : {{s.get_price}}
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <a href="">More...</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
              <i class="material-icons">content_copy</i>
            </div>
            <div class="card-content">
              <h3 class="title">
                <a href="">More...</a>
              </h3>
            </div>
          </div>
        </div>
      </div>

    <!--   Core JS Files   -->
    <script src="{% static "js/UI/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/UI/bootstrap.min.js" %}"></script>
    <script src="{% static "js/UI/material.min.js" %}"></script>

    <!--  Charts Plugin -->
    <script src="{% static "js/UI/chartist.min.js" %}"></script>
    <!--  Dynamic Elements plugin -->
    <script src="{% static "js/UI/arrive.min.js" %}"></script>
    <!--  PerfectScrollbar Library -->
    <script src="{% static "js/UI/perfect-scrollbar.jquery.min.js" %}"></script>
    <!--  Notifications Plugin    -->
    <script src="{% static "js/UI/bootstrap-notify.js" %}"></script>

    <!-- Material Dashboard javascript methods -->
    <script src="{% static "js/UI/material-dashboard.js" %}"></script>
    <script src="{% static "js/UI/demo.js" %}"></script>
    {% endblock %}
