{% extends "UI/baseUI.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

  <div class="wrapper">
    <div class="sidebar" data-color="deepgreen" data-image="{% static "images/UI/sidebar-1.jpg" %}">
    <div class="logo"> <p> &nbsp; </p></div>
    <div class="logo">
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="#pablo">
            <img class="img" src="{% static "images/UI/faces/default.jpg" %}" />
          </a>
        </div>
        <h6 class="category text-gray">Welcome</h6>
        <h4 class="card-title">{{ user.get_username }}</h4>
        <h4 class="card-title">${{ user.profile.purse }} </h4>
        <h5 class="card-title"><a href="/logout">Logout</a></h5>
      </div>
    </div>

    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="active">
          <a href="{% url 'dashboard'%}">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="{% url 'profile'%}">
            <i class="material-icons">person</i>
            <p>User Profile</p>
          </a>
        </li>
        <li>
          <a href="{% url 'portfolio' %}">
            <i class="material-icons">content_paste</i>
            <p>My Portfolio</p>
          </a>
        </li>
        <li>
          <a href="{% url 'leaderboard' %}">
            <i class="material-icons">library_books</i>
            <p>Leaderboard</p>
          </a>
        </li>
      </ul>
      </div>
    </div>
 

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
        <h2>My Stocks</h2>
      </div>
    </div>
      <div class="row">
        {% for s in stocks %}
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-content">
              <h3 class="title">
                {{ s.stock.slug }} <small> {{ s.quantity }} </small>
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <a href="/stocks/{{ s.stock.slug }}">More...</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-content">
              <h3 class="title">
                <a href="/more/">More...</a>
              </h3>
            </div>
          </div>
        </div>
      </div>

    <!--   Core JS Files   -->
    <script src="{% static "js/UI/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/UI/bootstrap.min.js" %}"></script>
    <script src="{% static "js/UI/material.min.js" %}"></script>

    <!--  Charts Plugin -->
    <script src="{% static "js/UI/chartist.min.js" %}"></script>
    <!--  Dynamic Elements plugin -->
    <script src="{% static "js/UI/arrive.min.js" %}"></script>
    <!--  PerfectScrollbar Library -->
    <script src="{% static "js/UI/perfect-scrollbar.jquery.min.js" %}"></script>
    <!--  Notifications Plugin    -->
    <script src="{% static "js/UI/bootstrap-notify.js" %}"></script>

    <!-- Material Dashboard javascript methods -->
    <script src="{% static "js/UI/material-dashboard.js" %}"></script>
    <script src="{% static "js/UI/demo.js" %}"></script>
    {% endblock %}
