{% extends "UI/baseUI.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
    <h3> All Available Stock Listings </h3>
  </div>
</div>
    <table class="table">
      <tr>
    {% for s in stocks %}
      <td><a href="/stocks/{{s.slug}}">{{s.slug}}</a></td>
       {% if forloop.counter|divisibleby:8 %}
     </tr>
     <tr>
       {% endif %}
    {% endfor %}
  </tr>
</table>
  </div>
</div>


{% endblock %}
