{% load static %}



<html class="no-js" lang="en" dir="ltr">

<head>

  <!--- basic page needs
  ================================================== -->
  <meta charset="UTF-8">

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Long Nguyen">
  <meta name="description" content="SmileAI WebSite">


  <!-- CSS
   ================================================== -->

  <link rel="stylesheet" href="{% static "css/404.css" %}">
  <link rel="stylesheet" href="../static/css/404.css">
</head>

<body>

<div class='toots'>
  <div class='toot'></div>
  <div class='toot'></div>
  <div class='toot'></div>
  <div class='toot'></div>
  <div class='toot'></div>
</div>
<div class='poo'>
  <div class='top'></div>
  <div class='mid'></div>
  <div class='bottom'></div>
  <div class='eyes'>
    <div class='eye'></div>
    <div class='eye'></div>
  </div>
  <div class='mouth'></div>
</div>



<div class='error1'>
<img src="../static/images/404(1).png" alt="Mountain View">
</div>
<div class='error2'>
<img src="../static/images/404(2).png" alt="Mountain View">
</div>
</body>
</html>
