{% extends "UI/baseUI.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="wrapper">
  <div class="sidebar" data-color="deepgreen" data-image="{% static "images/UI/sidebar-1.jpg" %}">
  <div class="logo"> <p> &nbsp; </p></div>
  <div class="logo">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="">
          <img class="img" src="{% static "images/UI/faces/default.jpg" %}" />
        </a>
      </div>
      <h6 class="category text-gray">Welcome</h6>
      <h4 class="card-title">{{ user.get_username }}</h4>
      <h4 class="card-title">${{ user.profile.purse }} </h4>
      <h5 class="card-title"><a href="/logout">Logout</a></h5>
    </div>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="{% url 'dashboard'%}">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="{% url 'advisor' %}">
          <i class="material-icons">person</i>
          <p>AI Advisor</p>
        </a>
      </li>
        <li class="active">
        <a href="{% url 'portfolio' %}">
          <i class="material-icons">content_paste</i>
          <p>My Portfolio</p>
        </a>
      </li>
      <li >
        <a href="{% url 'leaderboard' %}">
          <i class="material-icons">library_books</i>
          <p>Leaderboard</p>
        </a>
      </li>
    </ul>
    </div>
  </div>


  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h1 class="title">Account Summary For User</h1>
                        <h3 class="title"> {{user.get_username}}</h3>

                      </div>
                      <div class="card-content table-responsive">

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">

  </div>
</div>
<div class="row">
  <div class="col-md-12 r">
    <h2>Your current Balance is: <span class = " text-danger" > ${{user.profile.purse}} </span></h2>
  </div>
  <div class="col-md-12 text-primary">
    <h3>Activity Log</h3>
  </div>
</div>
    <ul style="list-style-type:none">
    {% for s in stocks %}
      {% if s.quantity is not 0 %}
        <li><h5><a href="/stocks/{{s.stock.slug}}">{{s.stock.slug}}</a> &nbsp; <small>{{s.quantity}}</small> &nbsp; - &nbsp; Last Purchased for ${{s.purchase_price}} on {{s.purchased_date}}</h5></li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="row">
    <div class="col-md-12">
      <h3> You have an estimated <span class = " text-info" > ${{ evaluation }} </span> in stock holdings (calculated from last purchase price) </h3>

    </div>
    <div class="col-md-12 ">

      <h3> Your net value is estimated at <span class = " text-success" > ${{ total_evaluation }}</span> </h3>
    </div>
  </div>
  </div>
</div>


{% endblock %}
