{% extends "UI/baseUI.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="wrapper">
  <div class="sidebar" data-color="deepgreen" data-image="{% static "images/UI/sidebar-1.jpg" %}">
  <div class="logo"> <p> &nbsp; </p></div>
  <div class="logo">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="">
          <img class="img" src="{% static "images/UI/faces/default.jpg" %}" />
        </a>
      </div>
      <h6 class="category text-gray">Welcome</h6>
      <h4 class="card-title">{{ user.get_username }}</h4>
      <h4 class="card-title">${{ user.profile.purse }} </h4>
      <h5 class="card-title"><a href="/logout">Logout</a></h5>
    </div>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="{% url 'dashboard'%}">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="active">
        <a href="{% url 'profile'%}">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li>
        <a href="{% url 'portfolio' %}">
          <i class="material-icons">content_paste</i>
          <p>My Portfolio</p>
        </a>
      </li>
      <li>
        <a href="{% url 'leaderboard' %}">
          <i class="material-icons">library_books</i>
          <p>Leaderboard</p>
        </a>
      </li>
      <li>
    <a href="{% url 'advisor' %}">
      <i class="material-icons">person</i>
      <p>AI Advisor</p>
    </a>
  </li>
    </ul>
    </div>
  </div>


<div class="content">
  <div class="container-fluid">

      <table>
        <tr>
      {% for s in stocks %}
          <td><a href="/stocks/{{ s.slug }}">{{ s.slug }} </a></td>
          {% if forloop.counter|divisibleby:8 %}
        </tr>
            <tr>
          {% endif %}
        {% endfor %}
  </div>
</div>


{% endblock %}
