{% extends "UI/baseUI.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1> {{ s_name }} </h1>
        <h2><small> ${{ s_price }} &nbsp; &nbsp; {{ s_difference }}% </small> </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h5> {{ s_full_name }} </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>  Own {{ quantity_owned }} share(s)</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <form action="/stocks/{{ s_name }}/" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-success" value="Buy" name="Buy"/>
          <input type="submit" class="btn btn-danger" value="Sell" name="Sell"/>
        </form>
      </div>
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                      <div class="card-header" data-background-color="blue">
                            <h3 class="title"><center>Comments<center></h3>
                        </div>
                        <div class="card-content table-responsive">

    <dl>
      {% for comment in comments %}
      <dt>
        {{ comment.text }}</dt>
      <dd><small>By {{ comment.author }} on {{ comment.authored }}</small><dd>
      {% empty %}
      <p>No comments yet</p>
      {% endfor %}
    </dl>

    <div class="row">
      <div class="col-md-12 text-center">
        <a class="btn btn-lrg" href="{% url 'add_comment_to_stock' slug=s_name %}">Add comment</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
